body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.inc.com/uploaded_files/image/1920x1080/getty_503016934_204576.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 10px 10px;
}

h1 {
    font-size: 2.5em;
}

.register-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.register-btn:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
}
header {
    text-align: center;
}
